{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />

<h1>Results for: {{entry.query}}</h1>

<div id="results">
{%if entry.names %}
<h2>As Name:</h2>
<table>
    <tr>
        <th>Mail</th>
        <th>Password</th>
        <th>Hashword</th>
        <th>Website</th>
    </tr>
    {% for item in entry.names %}
    <tr>
        <td>{{ item.mail }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.hashword }}</td>
        <td>{{ item.website }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{%if entry.mails %}
<h2>As Mail:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Hashword</th>
        <th>Website</th>
    </tr>
    {% for item in entry.mails %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.hashword }}</td>
        <td>{{ item.website }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{%if entry.passwords %}
<h2>As Password:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Hashword</th>
        <th>Website</th>
    </tr>
    {% for item in entry.passwords %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.mail }}</td>
        <td>{{ item.hashword }}</td>
        <td>{{ item.website }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{%if entry.hashwords %}
<h2>As Hash:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Password</th>
        <th>Website</th>
    </tr>
    {% for item in entry.hashwords %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.mail }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.website }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{%if entry.websites %}
<h2>As Website:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Password</th>
        <th>Hashword</th>
    </tr>
    {% for item in entry.websites %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.mail }}</td>
        <td>{{ item.hashword }}</td>
        <td>{{ item.website }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{%if not entry.names and not entry.mails and not entry.passwords and not entry.hashwords and not entry.websites %}
<p>No result found...</p>
{% endif %}

</div>
